@model string
@{
    ViewBag.Title = "Latest Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>Latest Uploaded Image</h3>
<br />
<img src="@ViewBag.LatestImage" title="Latest Uploaded" />