@model LessonLandingPage

<h3>@Model.Name</h3>
<div class="panel panel-default">
    <div class="panel-body text-justify">
        @if (Model.HasVideo)
        {
            <div class="embed-responsive embed-responsive-16by9 video-target"></div>
        }
        <div id="markdown">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>