@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Inap Certification</h1>
    <div class="row">

        <div class="col-md-4" style="padding-bottom:10px">
            <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
               asp-action="Index" asp-controller="Configurations">
                <img alt="" src="~/images/homeConfig.png"
                     width="120" height="120" align="middle">
                <span> Configuraciones </span>
            </a>
        </div>
        <div class="col-md-4" style="padding-bottom:10px">
            <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
               asp-action="Index" asp-controller="Courses">
                <img alt="" src="~/images/courses.png"
                     width="120" height="120" align="middle">
                <span> Cursos </span>
            </a>
        </div>
        <div class="col-md-4" style="padding-bottom:10px">
            <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
               asp-action="Index" asp-controller="Facilitators">
                <img alt="" src="~/images/teachers.png"
                     width="120" height="120" align="middle">
                <span> Facilitadores </span>
            </a>
        </div>
        <div class="col-md-4" style="padding-bottom:10px">
            <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
               asp-action="Index" asp-controller="Places">
                <img alt="" src="~/images/places.png"
                     width="120" height="120" align="middle">
                <span> Lugares </span>
            </a>
        </div>
        <div class="col-md-4" style="padding-bottom:10px">
            <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
               asp-action="Index" asp-controller="Enterprices">
                <img alt="" src="~/images/enterprice.png"
                     width="120" height="120" align="middle">
                <span> Instituciones </span>
            </a>
        </div>
        <div class="col-md-4" style="padding-bottom:10px">
            <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
               asp-action="Index" asp-controller="Participants">
                <img alt="" src="~/images/participants.png"
                     width="120" height="120" align="middle">
                <span> Participantes </span>
            </a>
        </div>
        <div class="col-md-4" style="padding-bottom:10px">
            <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
               asp-action="Index" asp-controller="CourseSections">
                <img alt="" src="~/images/section.png"
                     width="120" height="120" align="middle">
                <span> Secciones </span>
            </a>
        </div>
        @*<div class="col-md-4" style="padding-bottom:10px">
                <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
                   asp-action="Index" asp-controller="Configurations">
                    <img alt="" src="~/images/homeConfig.png"
                         width="120" height="120" align="middle">
                    <span> Configuraciones </span>
                </a>
            </div>
            <div class="col-md-4" style="padding-bottom:10px">
                <a style="width: 100%; text-align: left" class="btn btn-outline-info  btn-block"
                   asp-action="Index" asp-controller="Configurations">
                    <img alt="" src="~/images/homeConfig.png"
                         width="120" height="120" align="middle">
                    <span> Configuraciones </span>
                </a>
            </div>*@






    </div>

</div>
