@{
    ViewData["Title"] = "Finalizando sesión";
}

<h2>Cerrando sesión</h2>
<p>En breve lo estaremos redireccionado al home</p>

<script>
    window.addEventListener('load', () => {
        setTimeout(() => {
            window.location.href = '/'
        }, 1000)
    })
</script>

