.logo_showcase{visibility: hidden; opacity:0;  transition:opacity 0.5s linear;  }
.slick-initialized { visibility: visible; opacity:1; }

.logo_showcase .slick-arrow{text-indent:-99999px; padding:0px !important; margin:0px !important; border-radius:0px !important}
.logo_showcase button.slick-arrow {background-color: transparent!important; width:15px; height:26px; position:absolute; z-index:999;
border:0px !important;padding:0 !important; margin:0px !important; border-radius:0px !important}
.logo_showcase button.slick-next, .logo_showcase button.slick-next:hover,  .logo_showcase button.slick-next:focus{background:url(arrow-right.png) 0 0 no-repeat !important; background-size:15px 26px !important;}
.logo_showcase button.slick-prev, .logo_showcase button.slick-prev:hover, .logo_showcase button.slick-prev:focus{background:url(arrow-left.png) 0 0 no-repeat !important;background-size:15px 26px !important;}
.logo_showcase .slick-dots{padding:0 !important; margin:0 !important; position:absolute; text-align:center;}
.logo_showcase .slick-dots li button{text-indent:-99999px;}
.logo_showcase .slick-dots li {list-style:none !important; display:inline-block !important; margin:0 2px !important; padding:0px !important; width:10px !important; height:10px !important; }
.logo_showcase .slick-dots li button{background:#fff !important; margin:0px !important; padding:0px !important; border:1px solid #000; border-radius:50% !important; width:10px !important; height:10px !important;}
.logo_showcase .slick-dots li button:focus{outline:none !important}
.logo_showcase .slick-dots li.slick-active button{background:#444 !important;}


/* Slider */
.slick-loading .slick-list{ background: #fff url('ajax-loader.gif') center center no-repeat;}
.slick-slider{ position: relative;display: block; -moz-box-sizing: border-box;box-sizing: border-box; -webkit-user-select: none;       -moz-user-select: none;
        -ms-user-select: none; user-select: none;  -webkit-touch-callout: none;-khtml-user-select: none;    -ms-touch-action: pan-y;
        touch-action: pan-y;    -webkit-tap-highlight-color: transparent;
}
.slick-list{    position: relative;display: block; overflow: hidden;  margin: 0; padding: 0;}
.slick-list:focus{    outline: none;}
.slick-list.dragging{    cursor: pointer;    cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0);  -ms-transform: translate3d(0, 0, 0);  -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{    position: relative;top: 0;left: 0;    display: block;}
.slick-track:before,
.slick-track:after{ display: table;    content: '';}
.slick-track:after{  clear: both;}
.slick-loading .slick-track{ visibility: hidden;}
.slick-slide{    display: none;    float: left;    height: 100%;    min-height: 1px;}
[dir='rtl'] .slick-slide
{    float: right;}
.slick-slide img{    display: block;}
.slick-slide.slick-loading img{    display: none;}
.slick-slide.dragging img{    pointer-events: none;}
.slick-initialized .slick-slide{    display: block;}
.slick-loading .slick-slide{    visibility: hidden;}
.slick-vertical .slick-slide{    display: block;    height: auto;    border: 1px solid transparent;}
.slick-arrow.slick-hidden {    display: none;}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-ene-2017, 10:09:45
    Author     : desarrollo
*/

