<!DOCTYPE html>
<html>
<head>
    <title>Web Scrapper Example in ASP .NET Core | Easy to Use </title>
    <link href="~/Content/front-end/css/bootstrap.css" rel="stylesheet" />
    <style>
        body{
            margin-top:50px;
            margin-bottom:50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br />
                        <hr />
                        <p class="card-text">All above examples are <i> with source code </i> so you can<strong>  create your own </strong>  web scraper based on above examples. <br />
                        Also note, these examples can be a base for your extented logic so you can extract email, websites from search engines,data from pages, etc. to automate your data extraction process.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

