@{
    ViewBag.Title = "Forbiden";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">No Autorizado a ver este contenido</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>No tiene permisos</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        <ul class="form_items_container col-lg-6 pl0">
            <li>
                <h1>Usted no tiene permiso para acceder a esta pagina.

            Contacte a su adminstrador, para obtener acceso.
                </h1>

                <a href="javascript:document.getElementById('logoutForm').submit()">Cierre sesion
                </a>y acceda con una cuenta con el nivel de permisos adecuado.
            </li>
        </ul>
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->
