@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Numero de contacto</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>809.476.6376</span>
    </p>
    <p>
        <span class="label">Internacional:</span>
        <span>786.738.6700</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:info@eisdr.com">info@eisdr.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Direcci&oacute;n</h3>
    </header>
    <p>
        Plaza Metropolitana, Av. John F. Kennedy #63,
        Esq. Av. Ortega y Gasset, 2do. piso, Local 221,
        Distrito Nacional, República Dominicana.
    </p>
</section>