<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taneja.ajay.gstbilling">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BillsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupPasswordActivity"
            android:label="@string/setup_password_activity_title" />

        <provider
            android:name=".data.GSTBillingContentProvider"
            android:authorities="com.taneja.ajay.gstbilling"
            android:exported="false" />

        <activity
            android:name=".NewBillActivity"
            android:label="@string/new_bill_activity_title" />
        <activity
            android:name=".NewBillCustomerActivity"
            android:label="@string/new_bill_customer_activity_title" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".SavePDFActivity"></activity>
    </application>

</manifest>