body {padding-top:80px;font-size:16px;background:#ecf0f1;}
hr {border-color:#839496;}

.navbar li.special-link a {color:#222;}
.navbar-right{margin-right:0px;}
.navbar a.navbar-brand{ font-size: 1.4em;font-weight:bold;color:#222;}

.course {border:1px solid #ddd;margin-bottom:15px;padding:15px;background:#fff;}
.course:hover {border:1px solid #ddd;}
.course:hover {border:1px solid #ccc;}
.course .picture {width:100%;height:170px;}
.course .title {font-size:1.4em;font-weight:bold;height:50px;display:block;}
.course .category {font-size:1em;display:block;color:#222;}
.course .teacher {font-size:1em;display:block;color:#222;margin-bottom:10px;}
.course .statistics {color:#808080;}
.course .description {font-size:.9em;color:#808080;height:80px;font-style:italic;text-align:justify;}
.course .price {font-weight:bold;font-size:1.6em;margin-bottom:0;}

.course-promotion header{margin-bottom:15px;}
.course-promotion .side {background:#fff;padding:15px;position:fixed;width:360px;}
.course-promotion .side .price {text-align:center;font-size:1.4em;display:block;background:#eee;padding:20px;margin-top:15px;}
.course-promotion .side .btn {border-radius:0;}
.course-promotion .video-container {position:relative;display:table;}
.course-promotion .video-container .icon{width:100%;height:100%;position:absolute;background:#eee;z-index:1;opacity:0.3;text-align:center;font-size:4em;padding-top:10%;cursor:pointer;left:0;top:0;color:#222;}
.course-promotion .video-container:hover .icon{background:#222;color:#eee;}

.learning #markdown {margin-top:20px;}

.list-group-courses.padding-top .list-group-item{padding-top:15px;}
.list-group-courses h4 {margin-top:0;}
.list-group-courses .img-responsive {margin-bottom:15px;}
.list-group-courses .statistics {color:#808080;margin-bottom:10px;}

.list-group-item .income {padding-top:30px;}

.income-report h5 {color:#839496;margin-top:0;}
.income-report .description {font-size:1.4em;}

.income {border-right:1px solid #eee;}
.income.last {border-right:none;}

.reputation .progress {margin-top:7px;}

#footer { background:#222;padding:30px 0;margin-top:40px;color:#fff; }
#footer span.slogan { color:#839496; display:block; font-size:.9em;  }
#footer .links {margin-top: 10px;font-size:.8em;}
#footer .links .fa{margin-right:5px;}
#footer .links a{color:#839496;}
#footer .links a:hover{color:#eee;}

/* Helpers */
.remove-margin-bottom {margin-bottom:0;}
.remove-margin-top {margin-top:0;}
.helper {background:red;min-height:100px;}
form .required {color:#e74c3c;}
.panel .panel-heading {padding:15px;}

/* Fix */
.well {background:#eee;}
.list-group-item.header {background:#839496;border:0;color:#eee;}
.panel-heading {border:none;}
.panel.panel-default {border:none;}
.panel {border:none;}
.panel-heading {padding-left:0;}
.tab-pane {padding-top:15px;}
.nav-tabs{border-bottom:1px solid #ddd;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom:1px solid #ddd;
}
.progress {height:20px;}
.progress .progress-bar {line-height:20px;}
form{position:relative;}
.block-loading {z-index:9999;background: url(../images/ajax-loader.svg) #eee center center no-repeat;position: absolute;width:100%;height:100%;z-index:999;opacity:0.3;}
span.form-validation-failed{color:#bf6a6a;font-size:0.9em;display:block;padding:4px;font-style:italic;}

.well {background:#fff;}

@media (max-width: 992px){
    .course .picture{height:auto;}
    .course .title{height:auto;}
    .course .description{height:auto;}

    .course-promotion .side {width:auto;position:initial;}
    .course-promotion .video-container .icon {font-size:7em;padding-top:5%;}

    .navbar-right{margin-right:-7px;}
    .income {border-right:none;}
}