@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Reacciones 911</h1>
    <br/>
    <p style="font-size: x-large">
        Reacciones 911 es una plataforma que sirve para enviar tus reacciones
        sobre un hecho o solicitar a alguien con tu cuenta iniciada que envie sus
        reacciones u opiniones sobre algun acontecimiento.
        <br/><br/>
        Reacciones 911 puede mantener privada las reacciones o publicas, segun tus deseos.

    </p>
    <br/>
    <div class="form-group">
        <div style="text-align: center;" >
            <a class="btn btn-success" asp-action="Login" asp-controller="Account">
                Acceder
            </a> &nbsp;
            <a class="btn btn-secondary" asp-action="Register" asp-controller="Account">
                Registrarse
            </a>
        </div>
    </div>

</div>

