@model Hospital_Management_System.Models.Doctor

@{
    ViewBag.Title = "DeleteDoctor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Doctor</li>
        <li class="active">Delete Doctor</li>
    </ol>
</div>

<h2>Delete Doctor</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "ListOfDoctors")
        </div>
    }
</div>
