<appSettings>
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->

  <!-- Mis parámetros -->
  <add key="ProjectName" value="AnexU" />
  <add key="ProjectVersion" value="1.0.0b" />
  <add key="Environment" value="dev" />
  <add key="SalesCommission" value="30" />
  <add key="TeacherComission" value="70" />
  <add key="NewUserCredits" value="100" />
  <!-- Mis parámetros -->
</appSettings>