
.p-0{ padding:0 !important;}
.circle-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 2px solid #B4BBC1;
  border-radius: 100px;
  font-size: 14px;
  color: #B4BBC1;
  cursor: pointer;
  display: block;
  float: left;
}
.circle-icon.small {
  height: 25px;
  width: 25px;
  line-height: 23px;
  font-size: 11px;
}
.circle-icon:hover {
  color: #57636C;
  border-color: #57636C;
}
.circle-icon.red {
  color: #D23B3D;
  border-color: #D23B3D;
}
.circle-icon.red:hover {
  color: #791C1E;
  border-color: #791C1E;
}
#sidebar { 
  height:90vh; 
  width:250px;
  background: #1D2127;
  transition-duration: .3s;
  z-index: 5;
  float:left;
  border-radius: 3px 0 0 3px;
}
#sidebar,
#sidebar a {
  color: #ABB4BE;
}
#sidebar .logo-container {
  font-weight: 100;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  margin: 50px 0;
  cursor: pointer;
}
#sidebar .logo-container .logo {
  position: relative;
  top: -6px;
  font-size: 25px;
  margin-right: 15px;
  padding: 10px;
  border: 2px solid #61C7B3;
  border-radius: 100px;
  text-indent: 1px;
  color: #61C7B3;
}
#sidebar .compose-button {
  border-radius: 100px;
  padding: 13px 20px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #61C7B3;
  border: 2px solid #61C7B3;
  display: block;
  margin: 0 50px 30px 50px;
  cursor: pointer;
}
#sidebar .compose-button:hover {
  color: #ABB4BE;
  border-color: #ABB4BE;
}
#sidebar .menu-segment {
  padding: 0;
}
#sidebar .menu-segment ul,
#sidebar .menu-segment li {
  margin: 0;
  padding: 0;
}
#sidebar .menu-segment .ball.pink {
  border-color: #EA4C89;
}
#sidebar .menu-segment .ball.green {
  border-color: #9AE14F;
}
#sidebar .menu-segment .ball.blue {
  border-color: #1BC3E1;
}
#sidebar .menu-segment li.title {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 15px;
  color: #465162;
}
#sidebar .menu-segment li.title .icon {
  float: right;
}
#sidebar .menu-segment li.active a,
#sidebar .menu-segment li.active a:hover {
  background: #282d36;
}
#sidebar .menu-segment li a {
  display: block;
  margin: 0;
  padding:10px 15px;
}
#sidebar .menu-segment li a:hover {
  background: #21262d;
  text-decoration:none;
}
#sidebar .menu-segment li .italic-link {
  margin-left: -30px;
  font-style: italic;
  color: #465162;
}
#sidebar .menu-segment li .italic-link,
#sidebar .menu-segment li .italic-link:hover {
  background: transparent;
}
#sidebar .menu-segment li .italic-link:hover {
  color: #ABB4BE;
}
#sidebar .menu-segment .labels li a span,
#sidebar .menu-segment .chat li a span {
  display: block;
  border: 5px solid red;
  border-radius: 100px;
  margin-top: 6px;
}
#sidebar .menu-segment .labels.labels li a span,
#sidebar .menu-segment .chat.labels li a span {
  float: right;
}
#sidebar .menu-segment .labels.chat li a span,
#sidebar .menu-segment .chat.chat li a span {
  float: left;
  margin-right: 10px;
}
#sidebar .menu-segment .chat li a {
  padding-left: 50px;
}
#sidebar .separator {
  margin: 30px 35px;
  height: 1px;
  background: #2D3138;
}
#sidebar .bottom-padding {
  height: 100px;
}
#sidebar > .nano-pane {
  background: transparent;
}
#sidebar > .nano-pane .nano-slider {
  background: rgba(255, 255, 255, 0.1);
}
#inbox {
    width:calc(100% - 250px);
    float:left;
    height:90vh;
    overflow-x:auto;
  z-index: 4;
  transition-duration: .3s;
  padding-left: 4px;
  box-shadow: inset 4px 0 0 #EFEFEF, inset 5px 0 0 #e2e2e2;
  border-radius:0 3px 3px 0;
}
#inbox .overlay {
  position: fixed;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  opacity: 0;
  transition-duration: 0s;
  transition-property: opacity;
  display:block;
}
.show-main-overlay #inbox .overlay {
  opacity: 1;
  bottom: 0;
  transition-duration: .5s;
}
#inbox .header {
  padding:30px 60px;
  border-bottom: 1px solid #EFEFEF;
  overflow: hidden;
}
#inbox .header .page-title {
  display: block;
  margin:0;
}
#inbox .header .page-title .sidebar-toggle-btn {
  width: 0;
  margin-top: 1px;
  padding: 11px 0 0 0;
  float: left;
  position: relative;
  display: block;
  cursor: pointer;
  transition-duration: .3s;
  transition-delay: .5s;
  opacity: 0;
  margin-right: 0;
}
.show-sidebar #inbox .header .page-title .sidebar-toggle-btn {
  transition-delay: 0s;
}
#inbox .header .page-title .sidebar-toggle-btn .line {
  height: 3px;
  display: block;
  background: #888;
  margin-bottom: 4px;
  transition-duration: .5s;
  transition-delay: .5s;
}
.show-sidebar #inbox .header .page-title .sidebar-toggle-btn .line-angle1 {
  transform: rotate(-120deg);
}
.show-sidebar #inbox .header .page-title .sidebar-toggle-btn .line-angle2 {
  transform: rotate(120deg);
}
#inbox .header .page-title .sidebar-toggle-btn .line-angle1 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 15px;
  left: -11px;
  transform: rotate(-60deg);
}
#inbox .header .page-title .sidebar-toggle-btn .line-angle2 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 21px;
  left: -11px;
  transform: rotate(60deg);
}
#inbox .header .page-title .icon {
  font-size: 15px;
  margin-left: 20px;
  position: relative;
  top: -5px;
  cursor: pointer;
}
#inbox .header .search-box {
  float: right;
  width: 150px;
  height: 40px;
  position: relative;
}
#inbox .header .search-box input,
#inbox .header .search-box .icon {
  transition-duration: .3s;
}
#inbox .header .search-box input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  text-indent: 15px;
  height: 40px;
  z-index: 2;
  outline: none;
  color: #999;
  background: transparent;
  border: 2px solid #EFEFEF;
  border-radius: 5px;
  transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}
#inbox .header .search-box input:focus {
  color: #333;
  border-color: #d6d6d6;
  width: 150%;
}
#inbox .header .search-box input:focus ~ .icon {
  opacity: 1;
  z-index: 3;
  color: #61C7B3;
}
#inbox .header .search-box .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 1;
  cursor: pointer;
  opacity: .5;
}
#inbox .action-bar {
  padding: 20px 60px;
  border-bottom: 1px solid #EFEFEF;
  overflow: hidden;
}
#inbox .action-bar ul{ padding:0;}
#inbox .action-bar li {
  float: left;
  margin-right: 10px;
  list-style:none;
}
#inbox #inbox-nano-wrapper {
  height: auto;
}
#inbox .message-list {
  display: block;
  padding:0;
}
#inbox .message-list li {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  transition-duration: .3s;
  
}
#inbox .message-list li:hover,
#inbox .message-list li.active,
#inbox .message-list li.selected {
  background: #EFEFEF;
  transition-duration: .05s;
}
#inbox .message-list li.active,
#inbox .message-list li.active:hover {
  box-shadow: inset 5px 0 0 #61C7B3;
}
#inbox .message-list li.unread {
  font-weight: 600;
  color: #555;
}
#inbox .message-list li .col {
  float: left;
  position: relative;
}
#inbox .message-list li.blue-dot .col-1 .dot {
  border-color: #1BC3E1;
}
#inbox .message-list li.orange-dot .col-1 .dot {
  border-color: #E2A917;
}
#inbox .message-list li.green-dot .col-1 .dot {
  border-color: #9AE14F;
}
#inbox .message-list li .col-1 {
  width: 400px;
}
#inbox .message-list li .col-1 .star-toggle,
#inbox .message-list li .col-1 .checkbox-wrapper,
#inbox .message-list li .col-1 .dot {
  display: block;
  float: left;
}
#inbox .message-list li .col-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}
#inbox .message-list li .col-1 .checkbox-wrapper {
  margin-top: 15px;
  margin-right: 10px;
  line-height:19px;
}
#inbox .message-list li .col-1 .checkbox-wrapper i{ vertical-align:top; margin-top:2px;} 
#inbox .message-list li .col-1 .star-toggle {
  margin-top: 15px;
}
#inbox .message-list li .col-1 .title {
  position: absolute;
  top: 0;
  margin:0;
  left: 140px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#inbox .message-list li .col-2 {
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;
}
#inbox .message-list li .col-2 .subject,
#inbox .message-list li .col-2 .date {
  position: absolute;
  top: 0;
}
#inbox .message-list li .col-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#inbox .message-list li .col-2 .date {
  right: 0;
  width: 200px;
  padding-left: 80px;
}

#inbox .load-more-link {
  display: block;
  text-align: center;
  margin: 30px 0 50px 0;
}
#message {
  position: fixed;
  top: 0;
  left: 60%;
  bottom: 0;
  width: 40%;
  z-index: 5;
  transform: translateX(200%);
  transition-duration: .5s;
  padding: 50px 30px;
  background: #EFEFEF;
}
.show-message #message {
  transition-duration: .3s;
}
#message .header {
  margin-bottom: 30px;
  padding: 0;
}
#message .header .page-title {
  display: block;
  float: none;
  margin-bottom: 20px;
}
#message .header .page-title .icon {
  margin-top: 4px;
  margin-right: 10px;
}
#message .header .grey {
  margin-left: 10px;
  color: #999;
}
#message #message-nano-wrapper {
  position: absolute;
  top: 165px;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  width: auto;
  overflow-y:auto;
}
#message .message-container {
  padding: 0 30px;
}
#message .message-container li {
  padding: 25px;
  list-style:none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFF;
  margin: 0 0 30px 0;
  position: relative;
}
#message .message-container li:hover .details .left .arrow {
  background: #61C7B3;
  border: 0px solid #61C7B3;
}
#message .message-container li:hover .details .left .arrow.orange {
  background: #E2A917;
  border: 0px solid #E2A917;
}
#message .message-container li .details {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}
#message .message-container li .details .left {
  float: left;
  font-weight: 600;
  color: #888;
  transition-duration: .3s;
}
#message .message-container li .details .left .arrow {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 20px;
  background: rgba(0, 0, 0, 0.15);
  vertical-align: top;
  margin-top: 12px;
  margin: 12px 20px 0 15px;
  border: 0px solid rgba(0, 0, 0, 0.15);
  transition-duration: .3s;
}
#message .message-container li .details .left .arrow:after {
  position: absolute;
  top: -4px;
  left: 100%;
  height: 0;
  width: 0;
  border: inherit;
  border-width: 7px;
  border-style: solid;
  content: '';
  border-right: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
}

#message .message-container li .details .right {
  float: right;
  color: #999;
}
#message .message-container li .message {
  margin-bottom: 40px;
}
#message .message-container li .message p:last-child {
  margin-bottom: 0;
}
#message .message-container li:hover .tool-box .red-hover {
  color: #D23B3D;
  border-color: #D23B3D;
}
#message .message-container li:hover .tool-box .red-hover:hover {
  color: #791C1E;
  border-color: #791C1E;
}
#message .message-container li .tool-box { 
  bottom: 0;
  right: 0;
  border: 0px solid #DDDFE1;
  border-top-width: 1px; 
  padding: 8px 0 0 0;
  transition-duration: .3s;
}
#message .message-container li .tool-box a {
  margin:0 10px 0 0;
}
#message .message-container li .tool-box a:last-child {
  margin-right: 0;
}
.show-message #message {
  transform: none;
}
@media only screen and (min-width: 1499px) {
  #inbox .overlay {
    display: none;
  }
}
@media only screen and (max-width: 1500px) {
  .show-message #inbox {
    margin-right: 0;
  }
  .show-message #message {
    left: 50%;
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  #sidebar {
    transform: translateX(-110%);
  }
  #inbox {
    left: 0;
    box-shadow: none;
    position: absolute;
    width: 100%;
  }
  #inbox .header .page-title .sidebar-toggle-btn {
    margin-right: 20px;
    opacity: 1;
    width: 20px;
  }
  .show-sidebar #sidebar {
    transform: none;
  }
  .show-sidebar #inbox {
    transform: translateX(250px);
  }
  .show-message #inbox {
    margin-right: 0;
  }
  .show-message #message {
    left: 30%;
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  #inbox .header .search-box {
    float: none;
    width: 100%;
    margin-bottom: -110px;
    margin-top: 70px;
  }
  #inbox .header .search-box input,
  #inbox .header .search-box input:focus {
    width: 100%;
  }
  #inbox .header .page-title {
    margin-bottom: 50px;
  }
  #inbox #inbox-nano-wrapper {
    position: absolute;
    top: 260px;
    bottom: 0;
    height: auto;
  }
  #inbox .message-list li .col-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 120px;
    width: auto;
  }
  #inbox .message-list li .col-2 {
    right: 0;
    left: auto;
    width: 120px;
  }
  #inbox .message-list li .col-2 .date {
    padding-left: 0;
    position: static;
  }
  #inbox .message-list li .col-2 .subject {
    display: none;
  }
  #inbox .message-list li .col-1 .dot{
    margin: 22px 15px 0; 
  }
  #inbox .message-list li .col-1 .title{
      left: 95px;
  }
  #inbox .action-bar{
    padding:10px;
  }
  #inbox .action-bar li {
    margin-right: 0px;
  }
  #inbox .message-list li .col-2 .date{
    width:auto;
  }
  #inbox .header{
        padding: 30px 20px;
  }
  #inbox .header .page-title .sidebar-toggle-btn{
    display:none;
  }
}

