@model InapCertAuditory.Models.Tanda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tanda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TandaId">Edit</a> |
    <a class="btn btn-secondary" asp-action="Index"><= Cancelar y Volver al Listado</a>
</div>
